//背景ボード
.l-top-page-main {
    width: 100vw;
    height: 6750px;

    // background-color: #fdb3b3;
}

// ------ section 1 first view---------------------------

.first-view {
    position: static;
    width: 1920px;
    height: 1760px;
    margin: 0 auto;
}

// ---------------------------------

.l-fv-inner {
    position: static;
    width: 1920px;
    height: 1760px;
    margin: 0 auto;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// ---------------------------------

.l-fvーinner__img-container {
    overflow: hidden;
    width: 1920px;
    height: 1079px;
    margin: 0 auto;

    display: flex;
    position: relative;
}

// ---------------------------------

.main-bg {
    transform: scale(1.18, 1.18);
    left: 147px;
}

// ---------------------------------

.main-bng__right-txt {
    position: absolute;
    top: 362px;
    right: 508px;

    writing-mode: vertical-rl;
    font-size: 34px;
    font-family: "游明朝", "YuMincho", serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 7.7px;
}

.main-bng__left-txt {
    position: absolute;
    top: 362px;
    right: 593px;

    writing-mode: vertical-rl;
    font-size: 34px;
    font-family: "游明朝", "YuMincho", serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 7.7px;
}

// ---------------------------------

.l-fvーinner__msg-container {
    position: relative;
    width: 1920px;
    height: 681px;
    margin: 0 auto;
    background-color: #f4b9bf;

    display: flex;
    flex-direction: row-reverse;

    font-size: 16px;
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    color: #000000;
    letter-spacing: 8px;
    writing-mode: vertical-rl;

    //背景
    .fv-msg-color {
        display: block;
        //なぜかずれる
        width: 1922px;
        height: 681px;
    }

    span {
        position: absolute;
        text-orientation: upright;
    }
}

.fv-msg__line01 {
    top: 64px;
    right: 490px;
    font-size: 24px;
    letter-spacing: 19px;
}
.fv-msg__line02 {
    top: 151px;
    right: 552px;
    font-size: 24px;
    letter-spacing: 24px;
}
.fv-msg__line03 {
    top: 149px;
    right: 695px;
    letter-spacing: 6px;
}
.fv-msg__line04 {
    top: 149px;
    right: 733px;
    letter-spacing: 6px;
}
.fv-msg__line05 {
    top: 149px;
    right: 771px;
    letter-spacing: 6px;
}
.fv-msg__line06 {
    top: 149px;
    right: 905px;
    letter-spacing: 6px;
}
.fv-msg__line07 {
    top: 149px;
    right: 943px;
    letter-spacing: 6px;
}
.fv-msg__line08 {
    top: 149px;
    right: 981px;
    letter-spacing: 6px;
}
.fv-msg__line09 {
    top: 149px;
    right: 1115px;
    letter-spacing: 8.7px;
}
.fv-msg__line10 {
    top: 149px;
    right: 1153px;
    letter-spacing: 6px;
}
.fv-msg__line11 {
    top: 149px;
    right: 1191px;
    letter-spacing: 6px;
}
.fv-msg__line12 {
    top: 443px;
    right: 1327px;
    font-size: 22px;
    letter-spacing: 10px;
}
// ------ section 1 first view---------------------------

// ------ section 2  feature ---------------------------

.l-feature {
    width: 1920px;
    height: 2063px;
    margin: 0 auto;
}

// ---------------------------------

.l-feature-inner {
    width: 1920px;
    height: 2063px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #ffffff;
}

// ---------------------------------
.l-feature01 {
    width: 100%;
    height: 545px;
    margin-top: 105px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    // ---------------------------------

    .l-feature-img-box01 {
        overflow: hidden;
        width: 1050px; /* トリミングしたい枠の幅 */
        height: 10％; /* トリミングしたい枠の高さ */

        // ---------------------------------

        .feature-img01 {
            width: 100%;
            height: auto;
            transform: translate(0%, -11%); //ずらし
        }
    }
    // ---------------------------------

    .l-feature-txt-box01 {
        width: calc(1920px - 1050px);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // ---------------------------------

        .feature-txt-strong01 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            padding-left: 137px;
            font-size: 36px;
            letter-spacing: 0px;
            line-height: 1.7;

            padding-top: 21px;
            padding-left: 137px;
        }
        // ---------------------------------
        .feature-txt01 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 2;

            padding-top: 55px;
            padding-left: 137px;
        }

        .page-junp-btn01 {
            margin-top: 65px;
        }
    }
}

// ---------------------------------

.l-feature02 {
    width: 100%;
    height: 545px;
    margin-top: 122px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    // ---------------------------------
    .l-feature-img-box02 {
        overflow: hidden;
        width: 1050px; /* トリミングしたい枠の幅 */
        height: 10％; /* トリミングしたい枠の高さ */

        .feature-img02 {
            width: 100%;
            height: auto;
            transform: translate(0%, -11%); //ずらし
        }
    }
    // ---------------------------------
    .l-feature-txt-box02 {
        width: calc(1920px - 1050px);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        // ---------------------------------
        .feature-txt-strong02 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            padding-left: 137px;
            font-size: 36px;
            letter-spacing: 0px;
            line-height: 1.72;

            padding-top: 41px;
            padding-left: 409px;
        }
        // ---------------------------------
        .feature-txt02 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 2;

            padding-top: 55px;
            padding-left: 408px;
        }

        .page-junp-btn02 {
            margin-top: 35px;
            margin-left: 408px;
        }
    }
}

// ---------------------------------
.l-feature03 {
    width: 100%;
    height: 545px;
    margin-top: 122px;
    margin-bottom: 78px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // ---------------------------------

    .l-feature-img-box03 {
        overflow: hidden;
        width: 1050px; /* トリミングしたい枠の幅 */
        height: 10％; /* トリミングしたい枠の高さ */

        .feature-img03 {
            width: 100%;
            height: auto;
            transform: translate(0%, -9.5%); //ずらし
        }
    }
    // ---------------------------------
    .l-feature-txt-box03 {
        width: calc(1920px - 1050px);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // ---------------------------------
        .feature-txt-strong03 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            padding-left: 137px;
            font-size: 36px;
            letter-spacing: 0px;
            line-height: 1.7;

            padding-top: 22px;
            padding-left: 137px;
        }
        // ---------------------------------
        .feature-txt03 {
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 2;

            padding-top: 54px;
            padding-left: 137px;
        }

        .page-junp-btn03 {
            margin-top: 65px;
        }
    }
}

// ---------------------------------
.page-junp-btn01 {
    margin-top: 75px;
    margin-left: 137px;
}
// ---------------------------------
.page-junp-btn02 {
    margin-top: 75px;
    margin-left: 262px;
}
// ---------------------------------
.page-junp-btn03 {
    margin-top: 75px;
    margin-left: 137px;
}

// ------ section 2  feature ---------------------------

// ------ section 3  plan   ---------------------------

.l-plan {
    width: 1920px;
    height: 775px;
    margin: 0 auto;
}
// ---------------------------------

.l-plan-inner {
    width: 1920px;
    height: 775px;
    margin: 0 auto;

    background-image: url(../images/plan-color.png);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// ---------------------------------
.plan-logo-box {
    width: 40px;
    height: 40px;

    margin-top: 60px;

    .plan-logo-img {
        width: 100%;
        height: auto;
    }
}
// ---------------------------------
.cmn-hedeingl2 {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    color: #000000;
    font-size: 36px;
    letter-spacing: -0.5px;
    line-height: 2;
}

.plan-headeingl2 {
    transform: translate(-2px, 3px);
}

// ---------------------------------

.l-card-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 50px;
}

// ---------------------------------

.l-card-item {
    width: 331px;
    height: 435px;
}

// ---------------------------------
.item02 {
    margin-left: 94px;
    margin-right: 94px;
}
// ---------------------------------

.l-card-item__img-box {
    overflow: hidden;
    width: 331px;
    height: 210px;

    .l-card-item__img {
        width: 100%;
        height: auto;
        transform: translate(0%, -3%); //ずらし
    }
}
// ---------------------------------
.l-card-item-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
}

// ---------------------------------

.card-item-str-txt {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.7;

    padding-top: 23px;
}

// ---------------------------------

.card-item-txt {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 2;

    padding-top: 20px;
    transform: translate(-2px, 0);
}
.card-item-txt03 {
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 2;

    padding-top: 17px;
    transform: translate(-2px, 0);
}
// ------ section 3  plan   ---------------------------

// ------ section 4 notice    ---------------------------
.l-notice {
    width: 1920px;
    height: 757px;
    margin: 0 auto;
    background-color: #ffffff;
}

// ---------------------------------
.l-notice-inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // background-color: rgb(121, 118, 115);
}

// ---------------------------------
.notice-logo-box {
    margin-top: 40px;
}

// ---------------------------------
.notice-logo-img {
    margin-top: 20px;
}

// ---------------------------------
.l-notice-nav {
    margin-top: 28px;

    .notice-nav-ul {
        display: flex;
        flex-direction: row;

        // ---------------------------------
        .notice-nav-item {
            display: inline;
            font-size: 16px;
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            display: flex;
            list-style: none;
        }
        // ---------------------------------
        .notice-nav-item:first-child {
            transform: translateX(-38px);
        }
        // ---------------------------------
        .notice-nav-item:last-child {
            transform: translateX(17px);
        }
        // ---------------------------------
        .notice-nav-item a {
            display: inline-block;
            transition: 0.2s ease-in-out;
            color: #000000;
            text-decoration: none;
        }
        // ---------------------------------
        .notice-nav-item a:hover {
            opacity: 0.7;
        }
        // ---------------------------------
        .notice-nav-item a::after {
            position: absolute;
            left: 0;
            content: "";
            width: 100%;
            height: 2px;
            background: #000000;
            bottom: -1px; /*アンダーラインが位置する、各リストの下端からの高さ　ヘッダーの下端に合わせています*/
            visibility: hidden; /*ホバー前に、アンダーラインを可視化しない*/
        }
        // ---------------------------------
        .notice-nav-item a:hover::after {
            visibility: visible; /*ホバー後、アンダーラインを可視化する*/
        }
    }
}

// ---------------------------------
.ln-card-container {
    width: 1180px;
    height: 450px;

    margin-top: 28px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    // align-items: center;

    // background-color: rgb(126, 120, 111);
}

.ln-card-container a:hover {
    opacity: 0.7;
}
// ---------------------------------

.ln-card-item {
    width: 570px;
    height: 130px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;

    background-color: #f6f6f6;

    // ---------------------------------
    .ln-card-item__img-box {
        overflow: hidden;
        width: 105px;
        height: 125px;

        transform: translate(10px,15px);

        // ---------------------------------
        .ln-card-item__img {
            width: 100%;
            height: auto;
            transform: scale(160%, 160%);
            top:10px;
        }
    }

    // ---------------------------------
    .ln-card__txt-box {
        width: 450px;
        height: 100px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        margin-left: 30px;

        // ---------------------------------
        .ln-card__date {
            font-size: 14px;
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: -0.5px;
            line-height: 1;

            transform: translateX(8px);

        }
        // ---------------------------------
        .card-item-txt {
            font-size: 16px;
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 2;

            padding-top: 0px;
            transform: translateX(10px);
        }
    }
}

.ln-c-item04 {
    margin-left: 45px;
}
.ln-c-item05 {
    margin-left: 45px;
}
.ln-c-item06 {
    margin-left: 45px;
}

// ------ section 4 notice    ---------------------------

// ------ section 5 access  ---------------------------
.l-access {
    width: 1920px;
    height: 1395px;
    margin: 0 auto;
    // background-color: rgb(153, 156, 146);
}

// ---------------------------------

.l-access-inner {
    width: 1920px;
    height: 1395px;
    margin: 0 auto;

    background-image: url(../images/access-color.png);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: rgb(243, 4, 4);
}

// ---------------------------------
.access-logo-box {
    margin-top: 60px;
}

// ---------------------------------

.access-hedeingl2 {
    margin-top: 20px;
}

// ---------------------------------
.l-access-detail-inner {
    width: 100%;
    height: 1035px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    // ---------------------------------

    .l-access-detail-box01 {
        width: 100%;
        height: 370px;

   
        transform:translateY(64px);

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

            // ---------------------------------

        .l-access-detail__img-box {
            overflow: hidden;
            width: 660px;
            height: 370px;

            display: flex;
            transform: scale(1.18,1);
            margin-left: 170px;

            .access-logo-img {
       

            }
        }

        // ---------------------------------

        .l-access_txt-box {
transform: translateX(20px);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            font-size: 16px;
            font-family: "游明朝", "YuMincho", serif;
            font-weight: normal;
            color: #000000;
            font-size: 16px;
            letter-spacing: -0.5px;
            line-height: 1.2;

            // ---------------------------------

            .access_txt01 {
                font-weight: bold;
                padding-top: 20px;
            }
            .access_txt02 {
                padding-top: 12px;
                line-height: 2;
                letter-spacing: 0px;
            }
            .access_txt03 {
                padding-top: 14px;
                font-weight: bold;
                letter-spacing: 0.3px;
            }
            .access_txt04 {
                padding-top: 22px;
                letter-spacing: 0px;
            }
            .access_txt05 {
                padding-top: 20px;
                font-weight: bold;
            }
            .access_txt06 {
                padding-top: 20px;
                letter-spacing: 0px;
            }
            .access_txt07 {
                padding-top: 14px;
                line-height: 2;
                letter-spacing: 0px;
            }
        }
    }

    .l-access-box02 {
        width: 100%;
        height: 592px;

        margin-top: 69px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .access-map__img-box {
            width: 792px;
            height: 592px;

            transform: translate(-5px,65px);

            .access-map__img {
                width: 100%;
                height: auto;
            }
        }
    }
}

// ---------------------------------

// ------ section 5 access  ---------------------------
